rules_version = '2';
service cloud.firestore {

  // A rule like this:
  //
  // match /{document=**} {
  //     allow read, write: if request.auth != null;
  // }
  //
  // would allow read and write on a session even if a specific
  // sessions/session rule is specified below.
  // Firebse looks for any condition that allows something for a document.
  // https://firebase.google.com/docs/firestore/security/rules-structure#overlapping_match_statements
  // We must be specific about what documents we allow


  match /databases/{database}/documents {
    match /sessions/{session}/state/{state} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }


}
