[class*='StyledAuthenticationPage'] {
  background-color: #030303 !important;
}
[class*='NetlifyCreditIcon'] {
  display: none !important;
}

[class*='e16dayda1'] {
  display: none !important;
}

[class*='FieldLabel-fieldLabel'] {
  text-transform: inherit !important;
}

/* This solved issue with cursor moving around
   https://github.com/netlify/netlify-cms/issues/5092#issuecomment-1246525269 */
[data-slate-editor] {
  -webkit-user-modify: read-write !important;
}
