<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RCTAsyncStorageExcludeFromBackup</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>29k sessions</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Bundle ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>org.twentyninek.app.cupcake.staging</string>
				<string>org.twentyninek.app.cupcake.dev</string>
				<string>org.twentyninek.app.cupcake</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>79</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>This allows us to add sessions to your calendar.</string>
	<key>NSCameraUsageDescription</key>
	<string>This allows us to take a profile picture of you. It also allows us to stream your video during video sharing.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This allows you to upload a profile picture of you from your library</string>
	<key>NSContactsUsageDescription</key>
	<string>This allows us to add sessions to your calendar.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This allows us to stream your audio during video sharing.</string>
	<key>UIAppFonts</key>
	<array>
		<string>HKGrotesk-Black.otf</string>
		<string>HKGrotesk-Bold.otf</string>
		<string>HKGrotesk-BoldItalic.otf</string>
		<string>HKGrotesk-BoldLegacy.otf</string>
		<string>HKGrotesk-BoldLegacyItalic.otf</string>
		<string>HKGrotesk-ExtraBold.otf</string>
		<string>HKGrotesk-Italic.otf</string>
		<string>HKGrotesk-LegacyItalic.otf</string>
		<string>HKGrotesk-Light.otf</string>
		<string>HKGrotesk-LightItalic.otf</string>
		<string>HKGrotesk-LightLegacy.otf</string>
		<string>HKGrotesk-LightLegacyItalic.otf</string>
		<string>HKGrotesk-Medium.otf</string>
		<string>HKGrotesk-MediumItalic.otf</string>
		<string>HKGrotesk-MediumLegacy.otf</string>
		<string>HKGrotesk-MediumLegacyItalic.otf</string>
		<string>HKGrotesk-Regular.otf</string>
		<string>HKGrotesk-RegularLegacy.otf</string>
		<string>HKGrotesk-SemiBold.otf</string>
		<string>HKGrotesk-SemiBoldItalic.otf</string>
		<string>HKGrotesk-SemiBoldLegacy.otf</string>
		<string>HKGrotesk-SemiBoldLegacyItalic.otf</string>
		<string>HKGrotesk-Black.ttf</string>
		<string>HKGrotesk-BlackItalic.ttf</string>
		<string>HKGrotesk-Bold.ttf</string>
		<string>HKGrotesk-BoldItalic.ttf</string>
		<string>HKGrotesk-ExtraBold.ttf</string>
		<string>HKGrotesk-ExtraBoldItalic.ttf</string>
		<string>HKGrotesk-ExtraLight.ttf</string>
		<string>HKGrotesk-ExtraLightItalic.ttf</string>
		<string>HKGrotesk-Italic.ttf</string>
		<string>HKGrotesk-Light.ttf</string>
		<string>HKGrotesk-LightItalic.ttf</string>
		<string>HKGrotesk-Medium.ttf</string>
		<string>HKGrotesk-MediumItalic.ttf</string>
		<string>HKGrotesk-Regular.ttf</string>
		<string>HKGrotesk-SemiBold.ttf</string>
		<string>HKGrotesk-SemiBoldItalic.ttf</string>
		<string>HKGrotesk-Thin.ttf</string>
		<string>HKGrotesk-ThinItalic.ttf</string>
		<string>PlayfairDisplay-Black.ttf</string>
		<string>PlayfairDisplay-BlackItalic.ttf</string>
		<string>PlayfairDisplay-Bold.ttf</string>
		<string>PlayfairDisplay-BoldItalic.ttf</string>
		<string>PlayfairDisplay-ExtraBold.ttf</string>
		<string>PlayfairDisplay-ExtraBoldItalic.ttf</string>
		<string>PlayfairDisplay-Italic.ttf</string>
		<string>PlayfairDisplay-Medium.ttf</string>
		<string>PlayfairDisplay-MediumItalic.ttf</string>
		<string>PlayfairDisplay-Regular.ttf</string>
		<string>PlayfairDisplay-SemiBold.ttf</string>
		<string>PlayfairDisplay-SemiBoldItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://app.cupcake.29k.org/</string>
		<string>https://staging.app.cupcake.29k.org/</string>
		<string>https://dev.app.cupcake.29k.org/</string>
	</array>
	<key>FirebaseDeepLinkPasteboardRetrievalEnabled</key>
	<false/>
</dict>
</plist>
