name: Main

on:
  push:
    branches:
      - main

jobs:
  test:
    name: Test
    uses: ./.github/workflows/test.yml
    secrets: inherit

  deploy-cms-production:
    name: CMS Production
    concurrency: deploy-cms-production
    needs: test
    uses: ./.github/workflows/deploy-cms.yml
    with:
      environment: production
    secrets: inherit

  deploy-functions-production:
    name: Functions Production
    concurrency: deploy-functions-production
    needs: test
    uses: ./.github/workflows/deploy-functions.yml
    with:
      environment: production
    secrets: inherit

  deploy-functions-staging:
    name: Functions Staging
    concurrency: deploy-functions-staging
    needs: test
    uses: ./.github/workflows/deploy-functions.yml
    with:
      environment: staging
    secrets: inherit

  deploy-ios-production:
    name: iOS Production
    concurrency: deploy-ios-production
    needs: deploy-functions-production
    uses: ./.github/workflows/deploy-codepush.yml
    with:
      environment: production
      platform: ios
    secrets: inherit

  deploy-ios-staging:
    name: iOS Staging
    concurrency: deploy-ios-staging
    needs: deploy-functions-staging
    uses: ./.github/workflows/deploy-codepush.yml
    with:
      environment: staging
      platform: ios
    secrets: inherit

  deploy-android-production:
    name: Android Production
    concurrency: deploy-android-production
    needs: deploy-functions-production
    uses: ./.github/workflows/deploy-codepush.yml
    with:
      environment: production
      platform: android
    secrets: inherit

  deploy-android-staging:
    name: Android Staging
    concurrency: deploy-android-staging
    needs: deploy-functions-staging
    uses: ./.github/workflows/deploy-codepush.yml
    with:
      environment: staging
      platform: android
    secrets: inherit
